.admin-main {
  padding: 3vw 35vw 2vw 30vw;
}

.admin-label {
  padding-bottom: 1%;
}

.admin-main {
  align-content: center;
  text-align: center;
  width: 30%;
}

.adm-link {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.menu-link {
  padding-top: 4vw;
  padding-left: 40%;
  padding-right: 40%;
  text-align: center;
}

.admin-h1 {
  color: white;
  text-align: center;
}

.admin-boutton {
  margin-right: 250px;
}

section h2 {
  color: aliceblue;
}
