.adm-form {
  background-color: rgb(28, 42, 57);
  border-radius: 3%;
  width: 520px;
  margin: auto;
  border: 3px solid rgb(248, 107, 0);
  margin-top: 60px;
  padding-bottom: 50px;
  padding-right: 110px;
}

.lab {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 350px;
  margin: 20px;
  width: 235px;
  color: rgb(248, 107, 0);
}

.labt {
  position: relative;
  left: 210px;
  margin: 10px;
  width: 235px;
  color: rgb(248, 107, 0);
}
