label {
  padding-left: 15px;
  padding-top: 5px;
  margin: 5px;
  color: rgb(248, 107, 0);
}

input {
  display: flex;
  padding-left: 50px;
  padding-top: 5px;
  margin: 5px;
}

.button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(248, 107, 0);
  color: white;
}

main form {
  margin-left: 450px;
  background-color: #1c2a39;
  border-radius: 3%;
  padding-bottom: 50px;
  margin-top: 60px;
  width: 300px;
  padding-left: 80px;
  padding-top: 40px;
  border: 3px solid rgb(248, 107, 0);
}
